

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body {
    background-color: black;
}

.centered {
    top: 50%;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    
}

.centerbox {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: profile-pic-anim 3s;
}

#profile-text {
    font-size: 45px;
    font-family: 'Roboto Mono', monospace;
    margin-left:25px
}

/*
.typewriter #gitio {
    color: #fff;
    font-family: monospace;
    font-size: 20px;
    overflow: hidden;
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
*/

  #gitio {
    border-right: solid 3px rgba(0,255,0,.75);
    white-space: nowrap;
    overflow: hidden;    
    font-family: 'Source Code Pro', monospace;  
    font-size: 28px;
    color: rgba(255,255,255,.70);
  }
  
  /* Animation */
  #gitio {
    animation: animated-text 1.5s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 100%;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: rgba(0,255,0,.75);}
    to{border-right-color: transparent;}
  }


#wrapper {
    min-height: 100%; 
}

.scroll-container {
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  
section {
    height: 100vh;
    scroll-snap-align: center;
}
  
/*
section {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkorchid;
}
*/